@font-face {
  font-family: 'NotoSansKR';
  src: url('./assets/fonts/NotoSansKR-VariableFont_wght.ttf');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
